.description {
    .search {
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;
        .searchLabel {
            font-size: 18px;
        }
        .searchInput {
            height: 30px;
            font-size: 16px;
            background: none;
            border: none;
            border-bottom: 2px solid gray;
            &:focus-visible{
                outline: none;
            }
        }
        .searchButton{
            min-width: 200px;
            height: 40px;
            background-color: #7a1717;
            border: 1px solid gray;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }
    }  
}
.selectFilmContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;

    .selectFilmLabel {
        font-size: 20px;
    }

    .selectFilmTitle {
        font-size: 18px;
    }

    .selectFilmImage{
        align-self: center;
    }

    .removeSelectedFilm{
        width: 150px;
        height: 30px;
        background-color: #7a1717;
        border: 1px solid gray;
        border-radius: 5px;
        font-size: 16px;
        align-self: center;
        cursor: pointer;
    }

    .searchSelectedFilm{
        min-width: 200px;
        height: 40px;
        background-color: #097749;
        border: 1px solid gray;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
    }
}  