* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
.footer{
  display: flex;
  justify-content: center;
  margin: 40px 0;
  border-top: 1px solid orange;
  padding-top: 20px;
}

body {
  color: #fff;
  background: #000;
}

.loading{
  margin: 40px;
  font-size: 20px;
}

a {
  color: #fff;
  text-decoration: none;
}
